@model ViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cron Expression Descriptor</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css' />
    <link href='/css/style.css' rel='stylesheet' type='text/css' />
</head>
<body>
    <div class="container">
        <h1>Cron Expression Descriptor</h1>
        <h2>Describe Cron expressions as human readable text</h2>
        <h3>Supports @Model.AvailableLanguages.Count() Languages and can handle just about any cron expression you throw at it!</h3>
        <div class="container-fluid">
            <div class="row examples">

                <div class="col-md-2">
                    <a href="/?expression=*+*+*+*+MON%233">* * * * MON#3</a>
                </div>
                <div class="col-md-3">
                    <a href="/?expression=0+23+%3F+*+MON-FRI">0 23 ? * MON-FRI</a>
                </div>
                <div class="col-md-2">
                    <a href="/?expression=*+*+*+*+*">* * * * *</a>
                </div>
                <div class="col-md-2">
                    <a href="/?expression=30+*%2F5+*+*+*+*">30 */5 * * * *</a>
                </div>
                <div class="col-md-3">
                    <a href="/?expression=0+0%2F30+8-9+5%2C20+*+%3F">0 0/30 8-9 5,20 * ?</a>
                </div>
            </div>
        </div>
        <hr />
        <form method="get" class="center-block" action="/">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Languaage">Language</label>
                            @Html.DropDownListFor(m => m.Language, Model.AvailableLanguages, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.DayOfWeekStartIndexOne) Day Of Week / Sunday = 1
                            </label>
                            <br/>
                            <label>
                                @Html.CheckBoxFor(m => m.Use24HourFormat) 24 Hour Time Format
                            </label>
                            <br />
                            <label>
                                @Html.CheckBoxFor(m => m.VerboseDescription) Verbose
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            @Html.TextBoxFor(m => m.Expression, new { @placeholder = "Cron Expression" })
            <button type="submit" id="get-description" class="btn btn-success">Describe</button>
            @if (!string.IsNullOrEmpty(@Model.ExpressionDescription))
            {
                <hr />
                <div id="description">@Model.ExpressionDescription </div>
            }
            <hr />
            <footer>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li><a href="http://github.com/bradyholt/cron-expression-descriptor">GitHub</a></li>
                            <li><a href="http://www.nuget.org/packages/CronExpressionDescriptor/">NuGet</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right">
                        Running Cron Expression Descriptor <a href="http://www.nuget.org/packages/CronExpressionDescriptor/@Model.AssemblyVersion">version @Model.AssemblyVersion</a>
                        <p><a href="http://www.nuget.org/packages/CronExpressionDescriptor"><img alt="Downloads Count" src="https://buildstats.info/nuget/CronExpressionDescriptor" /></a></p>
                    </div>
                </div>
            </footer>
        </form>
    </div>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-19416043-5', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
